<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form th:action="@{/auth/register}" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="login" required>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<a th:href="@{/auth/login}">У Вас есть аккаунт? Войдите</a>
</body>
</html>