<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание зала</title>
</head>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<h1>Создание зала</h1>
<form th:action="@{/halls/new}" th:object="${hall}" method="post">
    <div>
        <label>Номер зала:</label>
        <input type="number" th:field="*{number}">
    </div>
    <br>
    <div>
        <label>Вместимость:</label>
        <input type="number" th:field="*{capacity}">
    </div>
    <br>
    <button type="submit">СОЗДАТЬ</button>
</form>
<br>
</body>
</html>